* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
html {
  height: 100dvh;
}
body {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  box-sizing: border-box;
  height: 100dvh;
}
#app {
  height: 100dvh !important;
}
.navbar {
  height: 50px !important;
  position: fixed !important;
  top: 0 !important;
}
.home,
.login,
.register {
  top: 52px;
  position: fixed !important;
  width: 100% !important;
  height: calc(100dvh - 52px) !important;
}

input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}
input,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ddd !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.is-cursor-pointable {
  cursor: pointer;
}

.is-clickable-input-icon {
  pointer-events: initial !important;
  cursor: pointer;
  color: #aaa;
}
.is-clickable-input-icon:hover {
  pointer-events: initial !important;
  cursor: pointer;
}
.image img {
  object-fit: cover !important;
  object-position: center;
  height: 100%;
  width: 100%;
}
.is-full-width {
  width: 100%;
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#typingAnimation {
  animation: typingAnimation 1.5s infinite ease;
}
.load-more {
  width: 100%;
  position: absolute;
}
.load-more i {
  animation: loaderRotate 1.5s infinite ease-out;
}
.unset-all {
  all: unset !important;
}
